// These colors are specific to the theme. Do not use in a package!

@light-orange: #D39C0D;
@orange: #D4661C;
@red: #E55163;
@green: #59BE4D;
@blue: #3CAEE5;
@cyan: #8abeb7;
@medium-blue: #1A4E74;
@purple: #E17BFE;

@gray: #242C33;
@light-gray: #434f5b;
@very-light-gray: #8995a1;
@dark-gray: #181D20;
@very-dark-gray: #14171A;
@special-gray: #2D333C;
@light-gray-blue: #A0B1C5;
