// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #8fa1b2;
@light-gray: #343C45;
@gray: #242C33;
@mid-gray: #1a2025;
@dark-gray: #15181f;
@very-dark-gray: #14171a;

@cyan: #8abeb7;
@light-orange : #D39C0D;
@blue : #3CAEE5;
@orange : #d96629;
@red : #E55163;
@green : #59BE4D;
@purple : #df80ff;
@light-gray-blue : #A0B1C5;
@special-gray : #2D333C;
@medium-blue : #1A4E74;
